
.icon-flower:before { content: '\e800'; } /* '' */
.icon-gym:before { content: '\e801'; } /* '' */
.icon-money:before { content: '\e802'; } /* '' */
.icon-real-estate:before { content: '\e803'; } /* '' */
.icon-tower-pc:before { content: '\e804'; } /* '' */
.icon-video:before { content: '\e805'; } /* '' */